/* CSS Document */

.cushion
{
	height: 40px;	
}

.bold_label
{
	font-weight: bold;
}

.status
{
	font-weight: bold;
	font-style: italic;	
}

/** Reservation Detail **/

#reservation_detail .page_content #profile img
{
	width: 80px;
	height: 80px;
	float: left;
}

#reservation_detail .page_content #profile .description
{
	margin-left: 100px;
}

#reservation_detail .page_content #profile .description .label
{
	font-style: italic;
	font-weight: lighter;
}

#reservation_detail .page_content #navigation
{
	clear: both;
}

/** Create Reservations **/

#view_reservations .page_content #container
{
	margin: -15px;	
}

#view_reservations .page_content #container #menu
{
	background: url(../images/reservation_header.png) no-repeat top left;
	background-size: 100% 126px;
	height:	126px;
}

#view_reservations .page_content #container #menu .button_left
{
	position: absolute;
	left: 10px;
}

#view_reservations .page_content #container #menu .button_right
{
	position: absolute;
	right: 10px;
}

#view_reservations .page_content #container #menu h2
{
	min-height: 1.1em;
	text-align: center;
	font-size: 16px;
	display: block;
	margin: 0em 30% .8em;
	padding: 0.6em 0 0;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	outline: 0 !important;
}


/** Create Reservations -- Timeslot **/

#view_reservations .page_content #container #grid_header
{
	margin-top: -42px;
}

#view_reservations .page_content #container #grid_header .ui-grid-d .grid_cell_header
{
	height: 42px;
	text-align: center;
	font-size: 16px;
	font-weight: bold;
	padding: 0.6em 0 0;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
	outline: 0 !important;
	border-right: #CCC solid 1px;
	border-bottom: #DDD solid 1px;
}

#view_reservations .page_content #container #grid_header .ui-grid-d .ui-block-a
{
	background-color: transparent;
}

#view_reservations .page_content #container .ui-grid-d .grid_cell
{
	height: 25px;	
	text-align: center;
	border-right: #CCC solid 1px;
	border-bottom: #CCC solid 1px;
}

#view_reservations .page_content #container .ui-grid-d .ui-block-a
{
	background: #CCC;
}

#view_reservations .page_content #container .ui-grid-d .ui-block-b
{
	background: #EFF28D;
}

#view_reservations .page_content #container .ui-grid-d .ui-block-c
{
	background: #F2BF80;
}

#view_reservations .page_content #container .ui-grid-d .ui-block-d
{
	background: #F29580;
}

#view_reservations .page_content #container .ui-grid-d .ui-block-e
{
	background: #F28080;
}

#view_reservations .page_content #container .ui-grid-d .g {
    background: #A9A9A9;
}